body {
    font-family: dotum, sans-serif;
}

body.is-pc {
    font-size: 12px;
    font-family: Helvetica Neue, Helvetica, Arial, "Apple SD Gothic Neo", "Malgun Gothic", Dotdum;
}

header.main-header {
    background: #1a2226;
}

#person_setting{
    background-color:#f4f4f4 !important;
    box-shadow:none !important;
    border-color:#ddd !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
    outline:none;
}
#person_setting_i{
    transition: all 0.5s ease-in-out;
}
.rotatehalf{
    transform:rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#menu_person div{
    display:block;
    padding:5px;
}

.mobile-btn-group a {
    padding: 7px 12px !important;
    font-size: 14px !important;
}

#comment_refresh button {
    width: 100%;
    background: #f5f5f5;
    color: #333333 !important;
    border: thin solid #ddd;
    border-radius: 0;
    border-right: 0;
    border-left: 0;
}

#comment_refresh button:hover{
    background: -webkit-gradient(linear,left top,left bottom,from(#eee),to(#fff));
}

.login-btn-wrap{
    padding: 10px 14px;
}

.login-btn{
    width: 100%;
    padding: 10px;
    letter-spacing: 1em;
    text-align: center;
    text-indent: 1em;
}

.login-help{
    padding: 0 0 10px;
}

.g-recaptcha > div{
    margin:0 auto;
}

.list-subject .cnt_cmt:before {
    content: "(";
}

.list-subject .cnt_cmt:after {
    content: ")";
}

.view-good-box {
    font-family: "Source Sans Pro", sans-serif;
}

#loading2 {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.7;
    background-color: #fff;
    z-index: 999;
    text-align: center;
    display:none;
}

#loading-image2 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
}

.tooltip.bottom {
    z-index: 1;
}

.board-nav .tooltip-inner {
    max-width: 200px;
}

.board-nav {
    padding: 10px 0 10px 0;
}

@media all and (max-width:767px) {
    .mypage-skin {
        padding: 10px;
    }
    .boardBtnWrap {
        padding-left: 5px;
    }
    .page-title {
        padding: 10px;
    }
    .page-title h2 {
        font-size: 16px;
    }
    #loading-image2 {
        margin-left:-50px;
    }
    .is-mobile .page-wrap {
        padding: 10px;
    }
    .content-wrapper .widget-side {
        padding: 10px;
    }
    .searchTag {
        padding: 10px;
    }
    .searchTag .search-ad-footer > div {
        width: auto !important;
        margin: 0 !important;
    }
    .searchTag .search-ad-footer > div td {
        padding: 0 !important;
    }
}

@media all and (max-width: 460px) {
    .text-muted {
        font-size: 9px;
    }
}

@media all and (max-width: 320px) {
    .text-muted {
        font-size: 9px;
    }
    .widget-side .main-p10 {
        padding: 0 !important;
    }

    .responsive .board-nav .page-button {
        display: none;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    50% {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.pulse {
    -webkit-animation: pulse 2s linear infinite;
    animation: pulse 2s linear infinite;
}

.is-mobile .content {
    padding: 0;
}

.view-icon {
    padding: 0px 10px 0px 10px;
}

.widget-side .main-p10 {
    margin: 0 0 10px;
}

#fwrite {
    padding: 0 10px;
}

#side_category.hold {
    position: fixed;
    top: 0;
    width: 230px;
    height: 100%;
}

.view-wrap .view_menu_pc {
    padding: 1px 3px;
    overflow: hidden;
    text-indent: 0;
    background-color: #fff;
    text-decoration: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #BDBCBC;
    vertical-align: top;
    cursor: pointer;
    margin:1px;
}

.alert-lucky {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
    border-radius: 0;
    padding: 5px !important;
}

.lucky-info-box {
    margin-top: 10px;
}

#bm_iframe {
    background: url('/img/ajax-loading.svg') no-repeat center center;
    margin-bottom:5px;
}

.newWrap {
    padding-bottom: 10px;
    width: 100%;
    display: inline-flex;
}

.boardBtnWrap {
    padding-bottom: 10px;
    width: 100%;
    max-width: 500px;
    display: inline-flex;
}

.newWrap .btn, .boardBtnWrap .btn {
    height: 30px;
    line-height: 1.7;
    font-size: 11px;
}

.newWrap > select, .newWrap > a, .boardBtnWrap > select, .boardBtnWrap > a {
    margin-right: 4px;
}

.boardCategory, .boardSort, .boardViewType {
    width: inherit !important;
    height: 30px !important;
    display: inline !important;
    font-size: 12px !important;
    padding: 0 !important;
    max-width: 114px !important;
}

.board-info {
    width: 34px; height: 34px;
}

.p0 {
    padding: 0 !important;
}

.m0 {
    margin: 0 !important;
}

.main-header > .navbar .navbar-nav > li > a, .main-header .navbar .nav > li > a .label {
    font-weight: 400;
}

.main-header .navbar .nav > li > a .label {
    top: 4px !important;
    right: 6px !important;
}

.board-info-box {
    list-style-type: none;
    min-width: 146px;
    font-size:11px;
}

.gray-tooltip + .tooltip > .tooltip-inner {
    background-color: rgba(0, 0, 0, 0.6) !important;
    border-radius: 0;
}

.gray-tooltip + .tooltip > .tooltip-arrow {
    border-bottom-color: rgba(0, 0, 0, 0.6) !important;
}

.board-nav .div-title-underbar .div-title-underbar-bold {
    padding-left: 5px;
}

.board-nav .div-title-underbar .gray-tooltip {
    margin-right: 5px;
}

.sidebar-icon {
    padding: 5px 0;
}

.main-sidebar .sidebar-icon a {
    padding-right: 0;
}

.searchbox .searchBoxInput {
    outline: none;
    background: white;
    font-family: inherit;
    font-size: 13px;
    border: 1px solid #2882BE;
    padding: 4px 6px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width:204px;
    margin-right:13px;
}

.searchbox .searchSubmit {
    -webkit-appearance: button;
    cursor: pointer;
    background-color: #3498DB;
    color: white;
    font-weight: 700;
    font-family: inherit;
    font-size: 11px;
    padding: 0 8px;
    height: 28px;
    min-width: 54px;
    border: 1px solid #2882BE;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.gsc-selected-option {
    width:50px;
}
.gsc-search-box td.gsc-input {
    padding-right: 0 !important;
}
.gsc-search-box input.gsc-search-button {
    height: inherit;
}
.gsc-refinementsArea {
    display: none;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
    font-size: 14px;
    margin: 0 !important;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block !important;
    border: 1px solid #ddd;
    border-right: 0;
    background-color: #fafafa;
    text-decoration: none !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page:last-child {
    border-right: 1px solid #ddd;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    border-color: #444 !important;
    background-color: #444 !important;
    color: #fff !important;
}

.gsc-results .gsc-cursor-box {
    text-align: center;
}

#nameContextMenu {
    background: #fff;
    color: #636363;
    border: thin solid #bbb;
}

#nameContextMenu a {
    color: #636363;
    padding: 5px 10px;
}

#nameContextMenu a:hover {
    background-color: #f3f3f3;
    color: #000;
}

#nameContextMenu tr:not(:last-child) {
    border-bottom: thin dashed #ddd;
}

.is-mobile #content_wrapper {
    min-height: 0 !important;
}

.at-content .main-box {
    border: 1px solid #ddd;
    margin-bottom: 16px;
    background: #fff;
    padding: 12px;
}

.at-content .main-head {
    border-bottom: 1px solid #AA1212;
    margin: 0px 0px 12px;
    font-weight: bold;
    padding-bottom: 3px;
}

.at-content .main-more {
    font-weight: normal;
    color: #888;
    letter-spacing: -1px;
    font-size: 11px;
}

.at-content .main-p10 {
    padding: 10px;
}

.at-content .main-tab {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.at-content .main-tab .nav {
    margin-top: -1px !important;
}

.at-content .trans-top.tabs.div-tab .main-tab ul.nav-tabs li.active a {
    font-weight: bold;
    color: #333 !important;
}

.at-content .main-tab .tab-more {
    margin-top: -28px;
    margin-right: 10px;
    font-size: 11px;
    letter-spacing: -1px;
    color: #888 !important;
}

.at-content .tabs {
    margin-bottom: 16px !important;
}

.at-content .tab-content {
    padding: 10px !important;
}

#navbar-search {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    right: 0;
    left: 0;
    background-color: #fff;
}

#navbar-search .form-group {
    margin: 0;
}

#navbar-search .form-group .input-search {
    position: relative;
    height: 50px;
}

#navbar-search .form-group .input-search .fa-search {
    left: 5px;
    color: #9e9e9e;
    text-align: center;
    pointer-events: none;
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 36px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#navbar-search .form-group .input-search .form-control {
    line-height: 50px;
    height: 50px;
    padding-left: 38px;
    padding-right: 38px;
    background-color: transparent!important;
    border-radius: 0;
}

#navbar-search .form-group .input-search .fa-times {
    right: 0;
    position: absolute;
    top: 50%;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    width: 36px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cmt-best {
    font-weight: bold;
    color: #ff6347;
}

.well {
    border-radius: 0;
}

.btnLogout {
    line-height:8px;
    border-radius: 3px !important;
    width: 92%;
    margin-left: 4%;
    margin-bottom:10px;
    color: #7ca3b4;
    background: #374850;
}

.btnLogout:hover {
    color: #fff;
    background: #000;
}

#board_view_content a {
    padding: 5px;
}

.user-panel .image img {
    width: 45px;
    height: 45px;
    display: block;
}

.is-mobile .pagination li a {
    padding: 6px 12px;
    font-size: 16px;
}

.bg-color {
    background: none;
    color: #777;
}

.bg-color:before {
    content: "[";
}

.bg-color:after {
    content: "]";
}

.socialLoginSm img {
    width: 30px;
    height: 30px;
    cursor:pointer;
}

.socialLoginSm img:not(:last-child) {
    margin-right: 8px;
}

.is-mobile .tack-icon {
    font-size: 12px;
    padding: 0;
    height: 15px;
    line-height: 19px;
}

.newInfoBtn {
    margin-left: auto;
}

.myAd {
    padding: 3px !important;
    line-height: 14px !important;
    height: 18px !important;
}

.widget-side .main-box { border:1px solid #ddd; margin-bottom:16px; background:#fff; }
.widget-side .main-more { margin:8px 0px 0px; }
.widget-side .main-p10 { padding:10px; }
.widget-side .main-tab { border-right:1px solid #ddd; border-top:1px solid #ddd; }
.widget-side .main-tab .nav { margin-top:-1px !important; }
.widget-side .trans-top.tabs.div-tab .main-tab ul.nav-tabs li.active a { font-weight:bold; color:#333 !important; }
.widget-side .main-tab .tab-more { margin-top:-28px; margin-right:10px; font-size:11px; letter-spacing:-1px; color:#888 !important; }
.widget-side .tabs { margin-bottom:16px !important; }
.widget-side .tab-content { padding:10px !important; }
#apz_ad_1 table {margin:0 auto;}

.is-pc .at-wrap {
    position: relative;
}

.is-pc .at-main {
    padding-right: 196px;
    display: block;
    min-height: 850px;
}

.is-pc .at-side {
    width: 180px;
    position: absolute;
    right: 0;
    top: 0;
}

.is-pc .at-side .nav > li > a {
    padding: 8px 7px;
}

.is-pc .content-wrapper > .content {
    position: relative;
}

.side-show-more {
    margin-bottom: -5px;
}
.side-show-more a {
    color: #777;
}
.side-show-more a:hover {
    text-decoration: underline;
}

#apz_board_side_ad_start {
    position: relative;
    top: 0;
}

#apz_board_side_ad_start.hold {
    position: fixed;
    top: 16px;
    width: 180px;
}

#apz_right_side_ad {
    width: 160px;
    height: 600px;
    top: 15px;
    background: #fff url("//static.appzzang.me/img/emoticon/etc%20(20).gif") center center no-repeat;
}

#apz_right_side_ad.hold {
    position: fixed;
}

.pc-main-leader-board {
    margin:0 auto;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.75);
    height:90px;
    overflow: hidden;
}

/* Font */
.ko .ko-12 .view-content {
    font-size: 14px;
}
.is-mobile .ko { font-family: "굴림",Dotum,"돋움",Helvetica,AppleSDGothicNeo,sans-serif; }

.view-comment-box .media-content {
    font-size: 13px;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.is-pc .content-wrapper.content-boxed > .content > .at-content {
    min-height: 1050px;
}
.row-15 {
    margin-left:-8px !important; margin-right:-8px !important;
}
.col-15 {
    padding-left:8px !important; padding-right:8px !important;
}
